doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/style.css")
    script(src="js/script.js")
    title H440 - KixMix Archive
  body
    img#bg(src="images/bg.png", alt="bg")
    aside.sidemenu
      ul.sidemenu__list
        li.sidemenu__item--logo
          a(href="#")
            img(src="images/logo.png", alt="logo")
        li.sidemenu__item
          a(href="#") 作品概要
        li.sidemenu__item
          a(href="#") 企画書
        li.sidemenu__item
          a(href="#") 会計報告書
        li.sidemenu__item
          a(href="#") 感想
        li.sidemenu__item
          a(href="#") 制作物
        li.sidemenu__item
          a(href="#") 手順書
    section.wrapper
      
      article.contents
        header.contents__header
          h2 作品概要
        section.contents__section
          h3 企画概要
          p
            |どこからかでも参加可能！会場のみんなの声と動きがステージの演出を変化させる！
            br
            |インタラクティブな未来のライブで盛り上がれ！
        section.contents__section
          h3 企画内容
          p
            |会場だけでしか参加できないライブが変わる！
            br
            br
            |今まではチケットが取れなければ、ライブに行くことができなかったが
            br
            |未来の技術を使えば!現地にいるような感覚に！
            br
            |他にも！盛り上がれば盛り上がるほど会場の映像や照明が変わる！
            |声援や動作が会場の照明と一体！
            br
            |どの場所からでもライブに参加している気分に＋会場では声援や動作で演出が変わることで
            br
            |この世に1つしかない全く新しいライブができる！
            br
            |みんなでライブを作りだして場所関係なく、ライブを更に楽しんで元気に！


      article.contents
        header.contents__header
          h2 作品概要
        section.contents__section
          h3 企画概要
          p
